.flecha-cuerpo-regularizable {
    stroke: gold;
}

.flecha-punta-regularizable {
    stroke: gold;
    fill: gold;
}

.regularizable {
    fill: gold;
}

.flecha-cuerpo-aprobable {
    stroke: lightgreen;
}

.flecha-punta-aprobable {
    stroke: lightgreen;
    fill: lightgreen;
}

.aprobable {
    fill: lightgreen;
}

.flecha-cuerpo-regularizada {
    stroke: darksalmon;
}
.flecha-punta-regularizada {
    stroke: darksalmon;
    fill: darksalmon;
}

.regularizada {
    fill: darksalmon;
}

.aprobada {
    opacity: 0.3;
}

#input {
    display: flex;
    align-items: center;
    position: relative;
    margin: 1em;
}

#materias {
    margin-left: 1em;
    position: relative;
}

#calcular {
    margin-left: 0.5em;
}

textarea {
    resize: none;
}

html,body{
    height:100%;
}
 
svg {
    height: 95%;
    display:block;
    position: absolute;
    top:0;
    left:0;
}

#leyenda {
    display: flex;
    align-items: center;
    position: relative;
    margin: 1em;
}

#leyenda-aprobada {
    opacity: 0.3
}

#leyenda-regularizada {
    color: darksalmon;
}

#leyenda-aprobable {
    color: lightgreen;
}

#leyenda-regularizable {
    color: gold;
}

.texto-leyenda {
    display: inline-block;
    margin-right: 1em;
}
